<div class="container">
    <div class="header">
        <div class="logo">HEALTH</div>
        <div class="image-profile" >
            <img 
                src="https://i.pinimg.com/originals/56/2d/22/562d22fa772b6f746211093ba9cae17b.png" 
                alt="img-profile" 
            />
        </div>
        <div>Имя Фамилия</div>
    </div>
    <div class="line"></div>
    <div>
        <nav>
            <ul class="navbar-nav">
                <li>
                    <a class="link" routerLink="/dashboard" routerLinkActive="link-active">
                        <i class="bi bi-bar-chart"></i>
                        Панель управления
                    </a>
                </li>
                <li>
                    <a class="link">
                        <i class="bi bi-journal-text"></i>
                        Дневник питания
                    </a>
                </li>
                <li>
                    <a class="link">
                        <i class="bi bi-moon"></i>
                        Анализ сна
                    </a>
                </li>
                <li>
                    <a class="link">
                        <i class="bi bi-flower2"></i>
                        Ментальное здоровье
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="line"></div>
    <div>
        <nav>
            <ul class="navbar-nav">
                <li>
                    <a class="link">
                        <i class="bi bi-gear"></i>
                        Настройки
                    </a>
                </li>
                <li>
                    <a class="link" routerLink="/login">
                        <i class="bi bi-box-arrow-left"></i>
                        Выход
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
